
.inputBtn {
    padding: 10px 20px;
    font-size: 30px;
    padding-left: 0;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
}

.spaceTop {
    margin-top: 50px;
}

.Btn {
    cursor: pointer;
    padding: 11px 20px;
    margin: 0 20px;
    margin-right: 0;
    font-size: 20px;
    color: #fff;
    border: none ;
    border-radius: 4px;
    &:hover{
        opacity: 0.7;
    }
}

.add {
    background-color: #007bff;
}

.delete {
    background-color: #dc3545;
}

.mAuto {
    margin: 0 auto;
    border: 3px solid #213121;
    padding: 20px 10px 10px 10px;
    // box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
    box-shadow: 10px 10px 5px rgba(0,0,0,.175);
    border-radius: 10px;
}